{% extends 'base.html' %}
{% block title%} About {% endblock title %}

{% block body %}
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left:50px;
  height: 50%;
  width:80%;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #76D7C4;
  color: black;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 50%;
    display: block;
  }
}
img{
    height:50%;
}
</style>
</head>
<body>

<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/image/male.svg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Rushi Thakare</h2>
        <p class="title">CEO & Founder</p>
        <p> I am a website developer </p>
        <p>rushithakare820@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/image/female.svg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Supriya Kulkarni</h2>
        <p class="title">Art Director</p>
        <p>I am a GRAPHIC DESIGNER.</p>
        <p>Skulkarni@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/image/female.svg" alt="John" style="width:100%">
      <div class="container">
        <h2>Aparna Likhitkar</h2>
        <p class="title">Planner</p>
        <p>I am a accountant for website planning.</p>
        <p>Alikhitkar2@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock body %}